@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }

  .h1{
    font-size: 40px;
    margin-bottom: 50px;
    font-family: nunito;
    color: rgba(255, 98, 0, 0.716);

  }


 .card{
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(134, 134, 134, 0.203);
  padding: 20px;
  width: 500px;
  height: 520px;
  border-radius: 30px;
  box-shadow: #556766;
 }
 

 
 .cardTitle{
  font-size: 20px;
  margin-bottom: 20px;
 }  

 .question{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
 }

 .questionTitle{
  border: 2px solid #556766;
  border-radius: 15px;
  height: 100px;
  padding:12px;
  background-color: #274340;
  color: aliceblue;
  font-size: 1.2rem;
  font-family: poppins;
 }

 .ul{
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

 }

 .li{
  border: 2px solid #556766;
  border-radius: 15px;
  height: 50px;
  align-items: center;
  padding: 12px;
  display: flex;
  background-color: #DFDCBB;
  
  
 }

 .li:hover{
  border: 2px solid rgb(201, 201, 201);
  cursor: pointer;
 }

 .selected {
  border: 2px solid #ae7916ac;
  color: #070707ca;
  
  font-weight: 800;
 }

 .end{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
 }

 .nextButton{
  border: 2px solid #b9550e61;
  background-color: #DFDCBB;
  font-size: 0.8rem;
  font-weight: 600;
  width: 120px;
  color: black;
  height: 40px;
  border-radius: 8px;
 }
 
 .reset{
  border: 2px solid #b9550e61;
  background-color: #DFDCBB;
  font-size: 0.8rem;
  font-weight: 600;
  width: 40px;
  padding: 4px;
  color: black;
  
  border-radius: 12px;
  
 }

 .nextDisabled{
  cursor: not-allowed;
  color: rgb(44, 44, 44);
  border: 2px solid rgb(21, 21, 21);
 }
 

 .nextButton:hover{
  background-color: #274340;
  color: rgb(242, 242, 242);
  border: 2px solid #b9550e61;
  
 }
 .nextButton:hover:not([disabled]) {
  color: rgb(25, 25, 25);
  border: 2px solid rgb(21, 21, 21);
}



 .qNumber{
  top: 8px;
  font-size: 0.75rem;
 }


/* Media query for screens up to 768px wide */
@media (max-width: 768px) {

  .main {
    width: 100%;
    height: auto;
  }
  .card {
    width: 100%;
    max-width:600px; 
    height: auto; 
    border-radius: 15px; 
  }
  .questionTitle{
    border: 2px solid #556766;
    border-radius: 15px;
    height: 130px;
    padding:12px;
    background-color: #274340;
    color: aliceblue;
    font-size: 0.9rem;
   }
   .li{
    font-size: 0.75rem;
   }

   .h1{
    font-size: 20px;
    margin-bottom: 20px;
   }  
}